{
    "id": "1",
    "version": "4",
    "dlink": "https://blablacashbd.com",
    "maintance": "0",
    "notice": "কী? কাজ করছেন ! হ্যা করুন আমরা পেমেন্ট দেওয়ার জন্য প্রস্তুত। শুধু কাজ না করে রেফারেল টিম করুন। আপনার রেফার দের নিয়ে একটি গ্রুপ করুন এবং সঠিক ভাবে কাজ শেখান তাহলে নিজের কাজের পাশাপাশি রেফার কমিশন আয় করতে পারবেন। সব সময় আমাদের টেলিগ্রাম চ্যানেল এর আপডেট দেখে কাজ করবেন টেলিগ্রাম চ্যানেল ফলো করুন । আমরা আমাদের সমস্ত আপডেট টেলিগ্রাম এর মাধ্যমে দিয়ে থাকি।", 
    "howwork": "https://blablacashbd.com",
    "telegram": "https://t.me/+zNw-6M1W9jYwN2I1",
    "packagename": "com.blablaaio.blabla",
    "strapps": "205188582",
    "join_bonus": "500.5",
    "refer_bonus": "5",  
    
    "webtaskonoff": "1",
    "weboffmessage": "এই  মুহূর্তে ওয়েব টাস্ক এর কাজ বন্ধ আছে । রেফারেল টিম করুন এবং আমাদের টেলিগ্রামে জয়েন করুন।",
    "websitemessage": "ওয়েবসাইট থেকে একটি পোস্ট ১ মিনিট পড়ুন,কমেন্ট করুন,শেয়ার করুন । ১০ টি করে ভিজিট সম্পূর্ণ করার পর একটি বিজ্ঞাপনে ক্লিক করে অ্যাপ ডাউনলোড করুন। সঠিক ভাবে অ্যাপ ডাউনলোড করলে পাবেন ১ টাকা। ", 
    "websitbreaktime": "120",
    "websiteafterclick": "10",
    "websitebonus": "100",
    "websitevisittime": "60",
    "webhowtowork": "https://t.me/+zNw-6M1W9jYwN2I1",
    
    "ytonoff": "1",
    "ytonoffmessage":"এই  মুহূর্তে ইউটিউব টাস্ক এর কাজ বন্ধ আছে । রেফারেল টিম করুন এবং আমাদের টেলিগ্রামে জয়েন করুন।",
    "ytmessage": "ইউটিউব থেকে প্রত্যেক টি ভিডিও ১ মিনিট দেখুন ,চ্যানেল টি সাবস্ক্রাইব করুন,একটি লাইক করুন,কমেন্ট করুন,শেয়ার করুন । ১০ টি করে ভিডিও দেখার পর একটি বিজ্ঞাপনে ক্লিক করে অ্যাপ ডাউনলোড করুন। সঠিক ভাবে অ্যাপ ডাউনলোড করলে পাবেন ১ টাকা। ",
    "ytbreaktime": "30",
    "ytafterclick": "10",
    "ytbonus": "100",
    "ytvisittime": "60",
    "ythowtowork": "https://t.me/+zNw-6M1W9jYwN2I1",
    
    "spinonoff": "1",
    "spinonoffmessage": "এই  মুহূর্তে স্পিন টাস্ক এর কাজ বন্ধ আছে । রেফারেল টিম করুন এবং আমাদের টেলিগ্রামে জয়েন করুন।",
    "spinmessage": "প্রতিবার স্পিন করে একটি বিজ্ঞাপন দেখুন। ৫ টি বিজ্ঞাপন দেখে সঠিক ভাবে ক্লিকের কাজ করুন। বিজ্ঞাপনে ক্লিক দিয়ে সঠিক লিংক টি কপি করে সাবমিট করুন। কাজ করার আগে কাজের নিয়মের ভিডিও অন্তত্য একবার হলেও দেখুন এবং সঠিক নিয়ম জানুন।",
    "spinbonusmessage": "থামুন! এখন বিজ্ঞাপনে ক্লিক এর কাজ করতে হবে । সঠিক ভাবে বিজ্ঞাপনে ক্লিক দিয়ে সঠিক লিংক টি সাবমিট করুন। ",
    "spinbreaktime": "10",
    "spinbonus": "100",
    "maxspin": "10",
    "spinhowtowork": "https://t.me/+zNw-6M1W9jYwN2I1",
    "refernotich": "আপনার রেফার কোড ব্যাবহার করে কেউ একাউন্ট করলে আপনি পাবেন ০.৫ টাকা বোনাস। এবং আপনার রেফার পেমেন্ট রিকুয়েস্ট দিলে আপনি ৫ টাকা পাবেন।।",
    "referhowtowork": "https://t.me/+zNw-6M1W9jYwN2I1",
    
   "paymentnotich": "ফ্লেক্সিলোড মাত্র ১০ টাকা হলে পেমেন্ট নিতে পারবেন এবং ১০ সেকেন্ড এর মধ্যে পেমেন্ট পাবেন। বিকাশে মাত্র ১০০ টাকা হলে পেমেন্ট নিতে পারবেন ২৪ ঘন্টার মধ্যে পেমেন্ট পাবেন। নগদে মাত্র ১০০ টাকা হলে পেমেন্ট নিতে পারবেন এবং ১ ঘন্টার মধ্যে পেমেন্ট পাবেন। রকটে মাত্র ১০০ টাকা হলে পেমেন্ট নিতে পারবেন এবং ১ ঘন্টার মধ্যে পেমেন্ট পাবেন। সার্ভার আপগ্রেড এর কাজ চলছে তাই ২৪ ঘন্টা পর পর  পেমেন্ট রিকুয়েস্ট দিতে পারবেন। আমাদের সম্পর্কে আপডেট জানতে টেলিগ্রামে জয়েন থাকুন। জানতে টেলিগ্রামে জয়েন থাকুন।",
    "mtopup": "0",
    "maxtopup": "1000",
    "mbkash": "100",
    "mbitcoin": "400",
    "mpaypal": "400",
    "mpaytm": "400",
    "mplayconsol": "400",
    
    "invalid": "1000",
    "invalidlink": "1000",
    
    
    "domain": "kowye",
    
    "autopaymentonofffromapps": "1",
    "autopaymentonofffrompendinglist": "1",
    "accountnumber": "01728664312",
    "keyc": "849213917e57cc7c0a7382edfe7e8f5850cf0eb5",
    
    "serveronoff2": "0",
     "serveronoffpendinglist2": "0",
    "apikey2": "U154207H3N4VIZ17YK44U54JAO1G8FKAWWB3CY0F0OZSP3P9RG",
    "user2": "limonkhanbd",
    "id2": "01728664312",
    
    "spin_control": "Close"
}
